<header>
  <nav>
    <div class="logo">
      <img src="assets/images/logo.webp" alt="Logo" />
    </div>
    <ul>
      <li class="active">Home</li>
      <li>Shop</li>
      <li>Blog</li>
      <li>Pages</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>

<div class="container">
  <!-- Banner -->
  <section class="banner">
    <div class="left-column">
      <h1>Nike New Collection!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation.
      </p>
      <button>Add to bag</button>
    </div>
    <div class="right-column">
      <img src="assets/images/banner-img.webp" alt="Shoe" />
    </div>
  </section>
</div>
